<div class="row">
  <h1>Restaurant Name</h1>
</div>
<div class="row">
  <div class="columns medium-6">
    <p>
      Restaurant descrption
    </p>
</div>
<div class="columns medium-6">
    <h3> Comments</h3>
</div>